
<div class="wrapper">
  <div class="destination">
    <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
      <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
        <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
          <img src="assets/karjat.jpg" alt="Torana"></div>
        </div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
          <span>1</span>Karjat</p>
          <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Take a shower and slide down under the Bhivpuri waterfall.</p>
          <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">The hilly town of Karjat is full of entrancing temples, monuments, lush green seraphic valleys and exquisite caves. Undoubtedly, this city is one of the incredible getaways for adventure seekers that takes just two hours to reach from Mumbai.</p>
          <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
            <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
            <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
              <img src="assets/taj.webp" alt="Dalhousie"></div></div>
              <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>2</span>Aurangabad</p>
              <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Ajanta and Ellora caves.</p>
              <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Aurangabad are Bibi Ka Maqbara, Daulatabad Fort, Jama Mosque, Grishneshwar Temple, Himayat Bagh, Salim Ali Lake and Panchakki, to name a few.</p>
              <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p>

            </a><a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
              <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                <img src="assets/chaul.jpg" alt="Kasauli"></div></div>
                <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>3</span>Chaul</p>
                <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">A former Portuguese city</p>
                <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Filled with Portuguese ruins and churches, Chaul reeks of history at every turn. Korlai Fort and Chaul Fort are sights to behold and hold cultural significance. Chaulo Kadu Lighthouse is the ideal spot to get a view of the entire town.</p>
                <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

<a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
  <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
      <img src="assets/kashid1.jfif" alt="Shillong"></div></div>
  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>4</span>Kashid</p>
  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">beach.</p>
  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Kashid can give any foreign location a run for its money. The beach city is perfect for those looking for a calm, secluded honeymoon destination. </p>
  <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

<a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
  <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
      <img src="assets/ratanwadi.jpg" alt="Shillong"></div></div>
  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>5</span>Ratanwadi</p>
  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">streams and mountains.</p>
  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Take long walks along the streams flowing through the village. Amruteshwar Temple dedicated to Lord Shiva attracts believers and non-believers in equal numbers.</p>
  <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

  <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
    <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
      <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
        <img src="assets/nagpur.jpg" alt="Nandi Hills"></div></div>
        <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>6</span>Nagpur</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB"> orange city</p>
        <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Places like the Lata Mangeshkar Musical Garden and the Japanese Rose Garden add more charm to its beauty. The places to visit in Nagpur city range from natural to thrilling and historical to religious. </p><p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn">
          <span>Explore</span></p></a>
          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
            <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
              <img src="assets/pune.webp" alt="Leh"></div></div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
                <span>7</span>Pune</p>
              <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Khandala, Lonavala or Mahabaleshwar for the true weekend</p><p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Pune is the cultural hub and the biggest city in the state. An upcoming IT centre and a fascinating city, Pune has no shortage of things to intrigue the interest of almost anyone who has ever been here or has heard of the city.</p>
              <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

              <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                  <img src="assets/tamini.webp" alt="Lansdowne"></div></div>
                  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>8</span>Tamhini Ghat</p>
                  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">lakes, forests and waterfalls</p>
                  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">A mountain pass connecting Tamhini and Mulshi, Tamhini Ghat is ideal for that quick getaway into nature.</p><p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                  <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/lavasa1.jpg" alt="Mahabaleshwar"></div></div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
                      <span>9</span>Lavasa</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">nature,beauty.</p>
                    <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">India’s first planned hill station, Lavasa has been inspired from Portofino, a popular fishing village in Italy. With top-class hotels, sports arenas and surrounding hills.</p>
                    <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                    <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                      <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/dahanu.webp" alt="Paro"></div></div>
                      <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>10</span>Dahanu</p>
                      <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">The natural rawness, serene beauty.</p>
                      <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Parnaka Beach, Agar Beach and Chikhale Beach are three popular destinations. Each with a unique character, these beaches are ideal for quick weekend getaways. Visit Laxmi Narayan Temple to witness the architecture of the Peshwa era.</p>
                      <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                      <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                        <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                          <img src="assets/bhandardara.jpg" alt="Kasol"></div></div>
                          <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>11</span>Bhandardara</p>
                          <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">River Pravara, waterfalls and mountains</p>
                          <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Bhandardara is a traveller’s delight. Filled with forts, dams and lakes, this small hill station is ideal for adventure sports.</p>
                          <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
                            <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp"><div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/wai.jpg" alt="Ladakh"></div></div>
                            <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>12</span>Wai</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">see mountains till </p><p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">The Buddhist caves that cover a large area of Wai is one of the stellar reasons why you should visit this hill station in Maharashtra.</p>
                            <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a></div>


