body{
    margin:0px;
}
.top-bar{
    height: 70px;
    width: 100%;
    background-color: blueviolet;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
}
.main-content{
    width: 100%;
    display: flex;
    margin-top: 70px;
    flex-direction: row;
    height: calc(100%-70px);
}
.sidebar{
    width: 20%;
    background-color: chocolate;
}
.home{
    width: 80%;
    background-color: crimson;
    overflow: scroll;
}