
<div class="modal fade" id="enquiryModal" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
          <form  id="enquiry" method="post" accept-charset="utf-8" novalidate="novalidate">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title">Local Cab Enquiry</h4>
          </div>
          <div class="modal-body">
                <div id="Sea" class="container">
                    <div class="form-wrap">
                          <div class="row">

                              <div class="col-md-3">
                                  <div class="input-group dir-field">
                                     <input type="hidden" name="flag" value="Local">
                                     <input type="hidden" name="v_name" value="TOYOTA ETIOS">
                                     <input type="hidden" name="v_type" value="Sedan">
                                     <input type="hidden" name="eight_hrs_80kms" value="2000">
                                     <input type="hidden" name="extra_rate_per_hr" value="125">
                                     <input type="hidden" name="extra_rate_per_km" value="13">
                                     <input type="hidden" name="rate_per_km" value="">
                                     <input type="hidden" name="driver_allowance_per_day" value="">
                                     <input type="hidden" name="ow_rate" value="">
                                     <input type="hidden" name="ir_rate" value="">
                                     <input type="text" name="full_name" placeholder="Full Name" class="form-control" required="">
                                      <i class="fa fa-user"></i>
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="input-group dir-field">

                                      <input type="text" name="contact_no" placeholder="Contact" class="form-control" required="">
                                      <i class="fa fa-phone"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                               <div class="col-md-3">
                                  <div class="input-group dir-field">
                                      <input type="text" name="email" placeholder="Email" class="form-control" required="">
                                      <i class="fa fa-envelope"></i>
                                  </div>
                              </div>

                              <div class="col-md-3">
                                  <div class="input-group dir-field">

                                      <input type="text" name="message" placeholder="Message" class="form-control" required="">
                                      <i class="fa fa-envelope"></i>
                                  </div>
                              </div>

                          </div>
                          <div class="row">
                              <div class="col-md-3">
                                  <div class="input-group dir-field">
                                     <input type="text" name="source_city" placeholder="Source City" class="form-control" required="">
                                      <i class="fa fa-map-marker"></i>
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="input-group dir-field">

                                      <input type="text" name="destination_city" placeholder="Destination City" class="form-control" required="">
                                      <i class="fa fa-map-marker"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-3">
                                  <div class="input-group dir-field">
                                      <input type="text" name="start_date" placeholder="Start Date" class="form-control from_date hasDatepicker" required="" id="dp1617611642548">
                                      <i class="fa fa-calendar"></i>
                                  </div>
                              </div>

                              <div class="col-md-3">
                                  <div class="input-group dir-field">
                                      <input type="text" name="end_date" placeholder="End Date" class="form-control to_date hasDatepicker" required="" id="dp1617611642549">
                                      <i class="fa fa-calendar"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-3">
                                  <div class="input-group dir-field">
                                      <input type="text" name="start_time" placeholder="Start Time" class="form-control from_time" required="">
                                      <i class="fa fa-clock-o "></i>
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="input-group dir-field">
                                      <input type="text" name="end_time" placeholder="End Time" class="form-control to_time" required="">
                                      <i class="fa fa-clock-o "></i>
                                  </div>
                              </div>
                              <div class="modal-footer">
                                  <div class="text-center">
                                      <div class="input-btn">
                                          <button type="submit" class="sbutn">Send</button>
                                           <button type="button" class="sbutn" data-dismiss="modal">Close</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          </div>
                    </div>
                </div>
              </form></div>

      </div>
