<div class="loginbox">
    <h1>Login Form</h1>

<form [formGroup]="loginform" (ngSubmit)="login()">
    <div>
        Email:
    </div>
        <input type="text" formControlName="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="loginform.email">
        <div *ngIf="loginform?.controls['email'].touched ||loginform?.controls['email'].dirty">
            <div class="alert" *ngIf="loginform?.controls['email'].errors?.required">
               Email is required
                </div>
                <div class="alert" *ngIf="loginform?.controls['email'].errors?.pattern">

                    Email not valid.
                    </div>

            </div>
            <div>
                Password:
            </div>
                <input type="password" formControlName="password" required minlength="8" required maxlength="20" [(ngModel)]="loginform.password">
                <div *ngIf="loginform?.controls['password'].touched ||loginform?.controls['password'].dirty">
                        <div class="alert" *ngIf="loginform?.controls['password'].errors?.required">
                           Password is required
                            </div>
                            <div class="alert" *ngIf="loginform?.controls['password'].errors?.minlength">
                                Password is min 8 characters long.
                               </div>
                               <div class="alert" *ngIf="loginform?.controls['password'].errors?.maxlength">
                               Password is maximum 20 characters long.
                               </div>
                </div><br>

                <h5>If you a new user Register yourself</h5>
                <button type="submit" class="btn btn-default" ><a routerLink="/task" routerLinkActive="active">Register</a></button>
                <button type="submit" class="btn btn-default" >login</button>

</form>
</div>
