<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px" class="maindiv">
        <div fxLayout="row" fxLayoutAlign="center center" class="header">
            HEADER
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="main">
                
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="main">
                
            <div fxFlex="70"  fxLayoutAlign="center center" class="maincontent">
                    MAIN-CONTENT
                </div>
                <div fxFlex="30"  fxLayoutAlign="center center" class="sidebar">
                        SIDEBAR
                    </div>
    
                </div>
                    
                            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="main">
                    <div fxFlex="50"  fxLayoutAlign="center center" class="twin1">
                            TWIN1
                        </div>
                        <div fxFlex="50"  fxLayoutAlign="center center" class="twin2">
                                TWIN2
                            </div>
                    </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center" class="footer">
                            FOOTER
                        </div>  
                    </div>
                    