.header{
    background-color: skyblue;
    height: 50px;
}
.sidebar{
    background-color:purple;
    height: 100px;
    width: 250px;
}
.maincontent{
    background-color: green;
    height: 100px;
    width: 250px;
}
.footer{
    background-color: rgb(128, 118, 118);
    height: 40px;
}
.twin1{
    background-color: orangered;
    height: 50px;
    width: 250px;
}
.twin2{
    background-color: orangered;
    height: 50px;
    width: 250px;
}