
<div class="wrapper">
  <div class="destination">
    <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
      <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
        <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
          <img src="assets/rajmachi.jpg" alt="Torana"></div>
        </div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
          <span>1</span>Rajmachi Fort Trek</p>
          <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">views of the Konkan plains and the backwaters of Shirota Dam</p>
          <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Rajmachi (2,710ft) is one of the most exciting and enduring trekking trails around Pune. An 18km trail one way is nothing short of adventure with ancient Buddhist caves.</p>
          <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
            <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
            <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
              <img src="assets/visapur.jfif" alt="Dalhousie"></div></div>
              <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>2</span>Visapur Fort Trek</p>
              <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">place is also known to be hideouts for bison</p>
              <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">The strong stone walls of the fort evident from the base are magnetic screaming out to climbers to have a once-in-a-lifetime experience.</p>
              <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p>

            </a><a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
              <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                <img src="assets/tikona.jpg" alt="Kasauli"></div></div>
                <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>3</span>Tikona Fort Treak</p>
                <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Delight yourself with a unique chance of Tikona Fort.</p>
                <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Tikona Fort trek won’t be smooth and it takes efforts to reach the top, though it is exciting as it sounds. While reaching the top, seize the awe-inspiring view of Pawana dam, Kothligad, and the astounding scrutiny of the beautiful valley below.</p>
                <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

<a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
  <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
      <img src="assets/torana.jpg" alt="Shillong"></div></div>
  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>4</span>Torna Fort Trek</p>
  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">known as Prachandagad due to its massive size.</p>
  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">  The mystical area around the fort has great viewpoints like Budhla Machi and Zunjar Machi and one of the famous forts near Pune for trekking with friends or family.</p>
  <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

<a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
  <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
      <img src="assets/shivaneri.jpg" alt="Shillong"></div></div>
  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>5</span>Shivneri Trek</p>
  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">This place is really a perfect destination</p>
  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Shivneri is a popular destination for trekking in Pune. Yet another Fort backed by the magnificent history created by Shivaji Maharaj, this is an ideal getaway near Pune for picnic. A celebration spot for the annual Shivaji Maharaj Jayanti, Fort Shivneri is one of the difficult ones to trek.</p>
  <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

  <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
    <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
      <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
        <img src="assets/harihar.jpg" alt="Nandi Hills"></div></div>
        <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>6</span>Harihar Fort Treak</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Fort trek is blessed with a soothing aura of rich green foliage </p>
        <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Harihar Fort is a historic site located in Maharashtra's Nashik district. This spectacular fort is perched on a rectangular-shaped hill and built on the hinges of a triangular prism of rock.</p><p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn">
          <span>Explore</span></p></a>
          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
            <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
              <img src="assets/shingh.jfif" alt="Leh"></div></div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
                <span>7</span>Sinhagad Fort Trek</p>
              <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Sinhagad, literally means Lion’s Fort</p><p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">There is an anecdote that upon hearing of Tanaji's death, Chhatrapati Shivaji expressed his remorse with the words, "Gad aala, pan Sinha gela" - "The Fort is captured, but the Lion is lost" and so the name Sinhagad. </p>
              <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

              <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                  <img src="assets/purandar.jpg" alt="Lansdowne"></div></div>
                  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>8</span>Purandar Fort Trek</p>
                  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">The fort is also known as the birthplace of the son of Chatrapati Shivajiraje Bhosale and the second Chatrapati</p>
                  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">There are two distinct level of the fort of which the lower part of the fort is called machi. The north part of machi houses a cantonment and a hospital. There is a temple dedicated to god Purandareshwar.</p><p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                  <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/vasota.jpg" alt="Mahabaleshwar"></div></div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
                      <span>9</span>Vasota Fort Trek</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Surrounded by deep forests and valleys of Konya Wildlife</p>
                    <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">The rock climbing, mountaineering and the enchanting views of the mountain range of Kas Mahabaleshwar from the top of the fort is the major highlight to complete this trek.</p>
                    <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                    <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                      <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/lohagad.jfif" alt="Paro"></div></div>
                      <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>10</span>Lohagad Trek</p>
                      <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Lohagad trek</p>
                      <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN"> Lohagad trek is one of the most beautiful treks where surroundings view is highly impressive. Dotted with natural beauty, Lohagad trek route is easily accessible from Malwai Railway Station.</p>
                      <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                      <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                        <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                          <img src="assets/raigad.jfif" alt="Kasol"></div></div>
                          <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>11</span>Raigad Fort Trek</p>
                          <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB"> Raigad Trek is the easiest trek in Pune</p>
                          <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">The fort is enclosed by the dense forest that makes the trek more interesting. The beautiful architecture of the fort will offer you relaxation for some time when you will reach it.</p>
                          <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
                            <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp"><div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/pratapgad.jfif" alt="Ladakh"></div></div>
                            <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>12</span>Pratapgad Fort Trek</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB"> Pratapgad Fort</p><p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Pratapgad remained an important strategic fort for the Maratha Empire. In the years following the battle, small temples were built inside the military stronghold.</p>
                            <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a></div>

