
<header>


    <nav class="navbar navbar-default " role="navigation">
      <div class="container">
        <div class="row">
                  <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>

          <a class="navbar-brand" href="/home">
          <img src="assets/logo (2).png" alt="">
          </a>
        </div>

        <!-- Collect the nav links,
          forms,
          and other content for toggling -->
        <div class="collapse navbar-collapse navbar-center" id="bs-example-navbar-collapse-1">
          <div class="menu">
            <ul class="nav navbar-nav navbar-right">
              <li><a routerLink="/home"  routerLinkActive="active">Home</a></li>
              <li><a routerLink="/aboutus" routerLinkActive="active" >About Us</a></li>
              <li><a routerLink="/gallery"  routerLinkActive="active">Gallery</a></li>
              <li><a routerLink="/vedios"  routerLinkActive="active">Vedios</a></li>
              <li><a routerLink="/blog"  routerLinkActive="active">other cab</a></li>
              <!-- <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-haspopup="true" aria-expanded="false">Program's / Event's <span class="caret"></span></a>
                <ul class="dropdown-menu pull-left">
                  <li><a routerLink="/program"  routerLinkActive="active">Program's</a></li>
                </ul>
              </li> -->
              <li class="dropdown">
                <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tour Packages <span class="caret"></span></a>
                <ul class="dropdown-menu pull-left">
                  <li><a routerLink="/carrental"  routerLinkActive="active">Car Rental in Pune</a></li>
                  <li><a routerLink="/punetomumbai"  routerLinkActive="active">Pune To Mumbai</a></li>
                  <li><a routerLink="/punetomaha"  routerLinkActive="active"> Pune To Mahabaleshwar </a></li>
                  <li><a routerLink="/goa"  routerLinkActive="active"> Lonawala </a></li>
                  <li><a routerLink="/asthvinayak"  routerLinkActive="active"> Ashtavinayak </a></li>
                </ul>
              </li>
              <li><a routerLink="/contactus"  routerLinkActive="active">Contact Us</a></li>
              <li class="search-container">

                <input type="text" class="search" placeholder="Search.." name="search">
                <button type="submit" class="btn"><i class="fa fa-search"></i></button>

            </li>
            </ul>
          </div>
        </div>
      </div>

        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
  </header>

