body{
	padding:0;
	margin:0;
	background:#ccc;
	position:relative;
	font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	font-family: 'Open Sans', sans-serif;
}
p {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-size: 1em;
  color:black;
  line-height: 1.9em;
  }
/*----topMenu start---*/
header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;

}
.navbar-default .navbar-toggle .icon-bar {
  background-color:white;
}

   .navbar-header img{
       height: 60px;
       width: 200px;
       position: absolute;
       left: 10px;


   }

   /*---navbar start--*/

   .navbar-default {
     background:#a85797;
     border: none;
     border-radius:0;
     margin:0;
     top: 0;
     left: 0;
     right: 0;
     position: fixed;
     transition: all 0.3s ease-in-out;
   }
.navbar-default .active{
  background: #fff;
}

   .navbar-brand>img {
     top:0;

   }

   .navbar-nav {
    padding: 11px 0;
   }
   .navbar-default .navbar-nav>li>a {
     color:black;
     padding:10px 15px;
     margin: 0 5px 0 0;
     font-weight:600;
     text-transform:uppercase;
   }
   .navbar-default .navbar-nav>li a.active,
   .navbar-default .navbar-nav>li a.active:focus,
   .navbar-default .navbar-nav>li a.active:hover {
     color:white;
     padding:10px 15px;
     background:#3a5185;
     transition:All 0.5s;
   }
   .navbar-default .navbar-nav>li>a:focus,
   .navbar-default .navbar-nav>li>a:hover {
     color:white;
     padding:10px 15px;
     background:#3a5185;
   }



   .dropdown-menu {
    background: #c96878;
    padding: 0;
    margin: 10px 0 0 0;
   }
   .dropdown-menu>li>a {
     padding: 10px 20px;
     font-weight:600;
     text-transform:uppercase;
   }
   .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
     background:#3a5185;
     color:#fff;
   }
   .navbar-default .navbar-nav>.open>a,
   .navbar-default .navbar-nav>.open>a:focus,
   .navbar-default .navbar-nav>.open>a:hover {
     background:#3a5185;
     color:white;
     display: block;
   }
   .dropdown:hover .dropdown-menu {
     display: block;
     margin-top:0px;
    }
   .navbar-right .dropdown-menu {
    right:auto;
    left: auto;
   }


@media(max-width:768px) {
  .topMenuText {
    font-size: 13px;
   }
   .topMenuInfo ul{
     float: left;
   }

}
.search-container .search{
  height: 35px;
}
.search-container .btn{
  height: 35px;
}

