
<div class="wrapper">
  <div class="destination">
    <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
      <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
        <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
          <img src="assets/tali.jpg" alt="Torana"></div>
        </div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
          <span>1</span>Pune</p>
          <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Maharashtrian thali</p>
          <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Maharashtrian thali is also arranged to achieve a balance of flavours and nutrition.Don't leave Pune without trying a Mastani.  </p>
          <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
            <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
            <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
              <img src="assets/malvanf.jpg" alt="Dalhousie"></div></div>
              <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>2</span>Kokan</p>
              <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Malvani cuisine is the standard cuisine of the Konkan region.</p>
              <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Malvan being a coastal area in Konkan, it has its own distinct way of cooking food. Malvani cuisine uses coconut liberally in various forms such as grated, dry grated, fried, coconut paste</p>
              <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p>

            </a><a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
              <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                <img src="assets/barfi.jpg" alt="Kasauli"></div></div>
                <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>3</span>Nagpur</p>
                <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">A must try dish is the Keema Kaleji.</p>
                <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">TARRI POHA is the typical Nagpur style breakfast but you can savour a plate of delicious poha with spicy curried black gram or chickpeas, with the tarri on the side, anytime of the day</p>
                <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

<a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
  <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
      <img src="assets/misal.jpg" alt="Shillong"></div></div>
  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>4</span>Kolhapur </p>
  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Tambra Rassa. veg kolhapuri,bharali vangi</p>
  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Kolhapur has a some good traditional dishes prepared from Mutton(goat meat) which are very tasty and delightful. Pandra Rassa the white curry is a liked starter at Kolhapur.</p>
  <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

<a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
  <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
      <img src="assets/pav.jpg" alt="Shillong"></div></div>
  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>5</span>Mumbai</p>
  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">varity of foods</p>
  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Street food in Mumbai has a distinctly different flavour from that of the street food in other parts of the country. Paav Bhaji, Vada Paav, potato and onion Bhajias,kada poha,samosa, Bombay sandwiches, street-side Dosas, Patti Samosas falooda</p>
  <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

  <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
    <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
      <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
        <img src="assets/puri.jfif" alt="Nandi Hills"></div></div>
        <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>6</span>Nashik</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB"> chat,misal pav, nonveg,sabudana vada.</p>
        <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Although we get chaat everywhere and there is nothing special about it, I would really recommend you to have chaat in Nashik. Also, my personal favourite is Dahi puri.</p><p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn">
          <span>Explore</span></p></a>
          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
            <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
              <img src="assets/edali.jpg" alt="Leh"></div></div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
                <span>7</span>Chennai</p>
              <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Vada Sambhar, Dosa and Upma are some other street foods of Chennai.</p><p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">It is the most preferred South Indian dish, which is light and delicious in taste. It is commonly served as breakfast item and along with peanut or coconut chutney. </p>
              <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

              <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                  <img src="assets/liti.jpg" alt="Lansdowne"></div></div>
                  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>8</span>Patna</p>
                  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">ideal for breakfast</p>
                  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">It is the most famous dish and the soul food of states like Bihar, Jharkhand and East Utter Pradesh. Litti looks like baati of Rajasthan but differ in taste due to its recipe. </p><p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                  <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/chole.jpg" alt="Mahabaleshwar"></div></div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
                      <span>9</span>Punjab</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">other street foods of Delhi are Aloo Chaat, Dahi Bhalle and stuffed parathe.</p>
                    <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Chole bhature is a popular Punjabi dish but loved by maximum people of India</p>
                    <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                    <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                      <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/roll.jpg" alt="Paro"></div></div>
                      <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>10</span>Kolkata</p>
                      <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB"> cheese, eggs, mashed potatoes, chicken, meat and vegetables.</p>
                      <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">This is one of the most popular street foods of Kolkata, which is very much loved by all.</p>
                      <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                      <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                        <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                          <img src="assets/vada.jpg" alt="Kasol"></div></div>
                          <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>11</span>Mumbai</p>
                          <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Misal Pav, Pav Bhaji, and Kande Pohe. </p>
                          <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Vada Pao is the favorite and ultimate staple food product, which is made with a fried potato dumpling called batata vada</p>
                          <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
                            <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp"><div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/kachori.jpg" alt="Ladakh"></div></div>
                            <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>12</span>Jaipur</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Kachori is a real deligh </p><p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Some of the famous variety of kachoris are Mawa Kachori, payaz kachoi and dal kachori. Each of them is super delicious in taste.</p>
                            <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a></div>



