
<div class="wrapper">
  <div class="destination">
    <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
      <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
        <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
          <img src="assets/goa.jpg" alt="Torana"></div>
        </div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
          <span>1</span>Goa</p>
          <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">popular for beaches.</p>
          <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Goa is a haven for adventurous souls! You can expect very hot weather with high humidity levels. Goa is a hot favourite among foodies too. </p>
          <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
            <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
              <img src="assets/malvan.jpg" alt="Kasauli"></div></div>
              <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>2</span>Malvan</p>
              <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">famous for it's mouth-watering Malvani sea-food</p>
              <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Malvan is a culturally and historically important town in the Sindhudurg district of Maharashtra.</p>
              <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

              <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
                <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                  <img src="assets/agakhan.webp" alt="Dalhousie"></div></div>
                  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>3</span>Aga Khan Palace</p>
                  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">One of the most stunning pieces of architecture in all of Pune</p>
                  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Aga Khan Palace is considered to be one of the most important landmarks in India, and not only Pune. Built-in 1892 by Sultan Muhammad Shah Aga Khan</p>
                  <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>
            <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
              <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                <img src="assets/lonawala.webp" alt="Kasauli"></div></div>
                <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>4</span>Lonavala</p>
                <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Lonavala city is one of the most beautiful retreats.</p>
                <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">The Lonavala City is popularly called the “city of caves' ' and the “Jewel of Sahyadri”. That is because the hill station boasts of some of the most spectacular settings that include luxuriant green valleys, remarkable caves, serene lakes and stunning waterfalls.</p>
                <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

<a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
  <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
      <img src="assets/khandal.webp" alt="Shillong"></div></div>
  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>5</span>Khandala</p>
  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">hill station.</p>
  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Coupled with its twin hill station, Lonavala, Khandala is one of the most preferred Maharashtra honeymoon places. Perfect was those quick romantic getaways, Khandala welcomes you with hills.</p>
  <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

<a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
  <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
      <img src="assets/matheran.webp" alt="Shillong"></div></div>
  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>6</span>Matheran</p>
  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">This place is really a perfect destination</p>
  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Matheran is a treat for the photographers also to explore and capture the best of the beauty of the beautiful hill station. The beauty of Western Ghats, Matheran is the smallest hill station of India.</p>
  <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

  <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
    <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
      <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
        <img src="assets/alih.webp" alt="Nandi Hills"></div></div>
        <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>7</span>Alibaug</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB"> The town literally means “The Gardens of Ali”.</p>
        <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">f tall coconut trees and extensive sandy beaches is your idea of ideal Maharashtra honeymoon places, then Alibaug should be your choice. Popular as ‘mini-Goa’ this coastal town.</p><p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn">
          <span>Explore</span></p></a>
          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
            <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
              <img src="assets/kolapur.webp" alt="Leh"></div></div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
                <span>8</span>Kolhapur</p>
              <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Rankala Lake, or even have a pleasant picnic at the Amba Ghat.</p><p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">the best ways to spend your time while in Kolhapur is to take a tour of the various ancient attractions around the place. From the majestic Panhala Fort, to the Chhatrapati Shahu Museum at the New Palace, these attractions help one get a better feel of the city and its history. </p>
              <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

              <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                  <img src="assets/tamini.webp" alt="Lansdowne"></div></div>
                  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>9</span>Tamhini Ghat</p>
                  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">lakes, forests and waterfalls</p>
                  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">A mountain pass connecting Tamhini and Mulshi, Tamhini Ghat is ideal for that quick getaway into nature.</p><p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                  <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/lavasa1.jpg" alt="Mahabaleshwar"></div></div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
                      <span>10</span>Lavasa</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">nature,beauty.</p>
                    <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">India’s first planned hill station, Lavasa has been inspired from Portofino, a popular fishing village in Italy. With top-class hotels, sports arenas and surrounding hills.</p>
                    <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                    <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
                      <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                        <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                          <img src="assets/dapoli.jpg" alt="Shillong"></div></div>
                      <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>11</span>Dapoli Beach</p>
                      <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Snuggled in the Konkan coastline</p>
                      <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN"> Dapoli is a clean beach where dolphins are also seen. Local seafood and snacks are available nearby. One can sunbath and swim in the crystal clear water. Enjoy different water sports and play volleyball at the beach to have the best time at this place.</p>
                      <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                    <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
                      <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                        <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                          <img src="assets/diveaagar.jfif" alt="Shillong"></div></div>
                      <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>12</span>Diveagar Beach</p>
                      <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">less crowded</p>
                      <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Divegar Beach is an offbeat place where you can feel utmost peace. The pristine nature near beach offers picturesque view where shutterbugs have the best snapsot.</p>
                      <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>


                          </div>



