
<div class="wrapper">
  <div class="destination">
    <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
      <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
        <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
          <img src="assets/pawana.webp" alt="Torana"></div>
        </div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
          <span>1</span>Pawna Lake</p>
          <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">this place during the monsoon to witness the lake</p>
          <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">This huge lake near Lonavala is a must visit with family and friends due to its splendid beauty in myriad shades of green.</p>
          <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
            <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
            <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
              <img src="assets/koland.jpg" alt="Dalhousie"></div></div>
              <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>2</span>Kolad</p>
              <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">this exotic destination</p>
              <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">This is another great weekend gateway near Pune. Known for its exotic white water rafting, Kolad is a thriving tiny village.</p>
              <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p>

            </a><a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
              <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                <img src="assets/igatpuri.webp" alt="Kasauli"></div></div>
                <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>3</span>Igatpuri</p>
                <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">the Western Ghat.</p>
                <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Igatpuri is surrounded by some of the highest ranges of the Sahyadri Ranges, making it a haven for trekkers and nature lovers alike. The little town acts as a popular weekend.</p>
                <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

<a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
  <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
      <img src="assets/kamshet.webp" alt="Shillong"></div></div>
  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>4</span>Kamshet</p>
  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">The waterfalls, monasteries, beautiful temples.</p>
  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Kamshet is a fairyland with rich flora and fauna. It has a quaint vibe coupled with a rich cultural heritage, and you will get enchanted with its ever-captivating beauty.</p>
  <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

<a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
  <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
      <img src="assets/clave.jpg" alt="Shillong"></div></div>
  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>5</span>Bedse Caves</p>
  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Bedse caves are very simple and smaller than the other caves.</p>
  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Bedse Caves are arranged in Maval taluka, Pune, Maharastra. These caves were built at the most recent in first century BC (around 60 BC).</p>
  <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

  <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
    <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
      <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
        <img src="assets/bhaja.jpg" alt="Nandi Hills"></div></div>
        <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>6</span>Bhaja Caves</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Devi Durga Parameshwari temple, Ekvira Devi temple, Sausage hills
        </p>
        <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">The Karla Cave houses the largest Buddhist temple of the country and people seeking spiritual enlightenment often come flocking here.</p><p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn">
          <span>Explore</span></p></a>
          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
            <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
              <img src="assets/shingh.jfif" alt="Leh"></div></div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
                <span>7</span>Sinhagad Fort Trek</p>
              <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Sinhagad, literally means Lion’s Fort</p><p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">There is an anecdote that upon hearing of Tanaji's death, Chhatrapati Shivaji expressed his remorse with the words, "Gad aala, pan Sinha gela" - "The Fort is captured, but the Lion is lost" and so the name Sinhagad. </p>
              <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

              <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                  <img src="assets/imagica.webp" alt="Lansdowne"></div></div>
                  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>8</span>Adlabs Imagica</p>
                  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Water Park</p>
                  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">This is the first theme park off the Mumbai Pune Expressway with unique rides and must feature in the bucket list of weekend getaways near Pune</p><p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                  <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/wild.jpg" alt="Mahabaleshwar"></div></div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
                      <span>9</span>Koyna Wildlife Sanctuary</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Surrounded by deep forests and valleys of Konya Wildlife</p>
                    <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Nestled amidst the beautiful forest ranges of the Western Ghats in Maharashtra, Koyna Wildlife Sanctuary is a rejuvenating weekend getaway from Pune to explore the charismatic wildlife.</p>
                    <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                    <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                      <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/elephantc.jpg" alt="Paro"></div></div>
                      <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>10</span>Elephanta Caves</p>
                      <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">caves</p>
                      <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Being a UNESCO World Heritage Site, the infamous Elephanta Caves are a collection of temples located inside the caves. They lie on Elephanta Island, which is also known as Gharapuri or the city of caves.</p>
                      <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                      <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                        <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                          <img src="assets/ajitha.jpg" alt="Kasol"></div></div>
                          <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>11</span>Ajanta and Ellora Caves</p>
                          <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Kailasa Temple, Grishneshwar Temple, Aurangabad Caves</p>
                          <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">The caves are a seamless amalgamation of Hinduism, Buddhism, and Jainism. You can find Buddhist monasteries, along with Hindu and Jain temples inside them. Kailash Temple is the most famous among all, being made entirely from one rock.
                          </p>
                          <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
                            <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp"><div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/shaniwar.jpg" alt="Ladakh"></div></div>
                            <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>12</span>Shaniwar Wada</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">histoy of shivaji maharaj.</p><p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">it was the great seat of the Peshwas of the Maratha Empire until 1818, when the Peshwas lost control to the British East India Company </p>
                            <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a></div>

