<div class="about">
    <div class="container">
     <h2><span class="child">A</span><span class="child1">b</span><span class="child2">o</span><span class="child3">u</span><span class="child4">t</span><span class="child5"> U</span><span class="child6">s</span></h2>
     <div class="col-md-12 col-sm-12 aboutInfo">
      <div class="col-md-6 col-sm-12">
       <div class="aboutImg"> 
         <img src="assets/summer.webp" alt="">
       </div>
      </div> 
      <div class="col-md-6 col-sm-12">
       <div class="aboutTitle">
        <h3>About Our Travel :</h3>
         <p> Vaishanavi Tours and Travels is a true service-based company providing you your required transport vehicle at the destination of Your choice,always at the scheduled time.                   
           <br> It was a challenge to meet the requirements of the customers with just one car at the disposal. But the sincerity to serve did not go unnoticed and soon the company was associated with corporate clients.
        <br>The company’s cars and buses were now hired on call as well as yearly contract basis. What put it ahead in the fiercely competitive marketplace was uncompromising hard work, punctuality, safety, periodic renewal of fleet and excellent friendly back office support.
          </p>
       </div>
      </div>
      <div class="col-md-12 col-sm-12 aboutPhilosophy">
       <h3>Vaishanavi Tours And Travel :</h3>
       <div class="aboutPhilosophyText">
        <h4>Our Aim :</h4>
         <p>We aim to provide a quality care, travelling  and a nurturing environment for the peoples.</p>
       </div>
       <div class="aboutPhilosophyText">
        <h4>Our Philosophy :</h4>
         <p>In recent years, the number of children from birth through primary-school-age being cared for outside their homes has increased significantly. Funny Days Kindergarten is expert to meet the demand for quality care and education to enhance learning and achievement throughout children’s lives. Our quality care is reflected in our philosophy.</p>
       </div>
       <div class="aboutPhilosophyText">
        <h4>For Children & Our Program :</h4>
         <p>Funny Days Kindergarten believes children are unique individuals who develop at their own pace and approach – through play, exploration and discovery of their own environment and the people around them. We also believe that children are active learners with a natural curiosity to learn about themselves and their surroundings.<br>We agree that children have freedom to play because it is through play that their learning and development is fostered.<br>We feel that children need and have the right to feel secure and loved, and to develop strong relationships with their caregivers to develop to their full potential.</p>
       </div>    
       <div class="aboutPhilosophyText">
        <h4>For Families :</h4>
         <p>We promote positive partnerships with families through open communication and support.<br>We embrace diversity and respond to changing individuals and family needs.<br>We believe families are children’s most valued teachers and involvement is encouraged as a part of our program.<br>Our aim is to continually provide a nurturing and challenging learning environment for children, in cooperation with families, staff and the community. We will do this by encouraging family and community involvement in the centre program, and utilising resources to enhance socio-cultural learning.</p>
       </div>
       <div class="aboutPhilosophyText">
        <h4>For Staff :</h4>
         <p>We believe the health, attitudes and behaviour of staff are paramount to provide a loving and caring environment. We create an environment that fosters motivation and commitment, which in turn fosters professional development and job satisfaction.<br>We will endeavor to earn the respect of families through effective communication, commitment, dedication, trust, understanding and educational expertise.</p>
       </div>
      </div>
     </div>
    </div>
   </div>