body{
	padding:0;
	margin:0;
	background:#ccc;
	position:relative;
	font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	font-family: 'Open Sans', sans-serif;
}
p {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-size: 1em;
  color:black;
  line-height: 1.9em;
  }
.about {
    padding: 150px 0 50px 0;
    background: #ccccc3;
   }
   .about h2 {
    color:#000;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 50px 0;
   }
   .aboutInfo {
    background:#fff;
    padding: 20px;
    border-radius: 10px;
   }
   .aboutImg {
    padding: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 5px;
   }
   .aboutImg img {
    width: 100%;
    height: auto;
    transition: all 0.5s;
   }
   .aboutImg:hover img {
    transform: scale(1.3);
   }
   .aboutTitle h3,.aboutPhilosophy h3 {
    color: #000;
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 10px 0;
   }
   .aboutTitle p {
    color: #000;
    text-align: justify;
    letter-spacing: 0;
   }
   .aboutPhilosophy {
    margin: 30px 0 0 0;
   }
   .aboutPhilosophyText h4 {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 10px 0;
   }
   .aboutPhilosophyText p {
    color: #000;
    text-align: justify;
    padding: 0 0 20px 20px;
    letter-spacing: 0;
   }

   @media (max-width: 768px) {
   .aboutInfo {
    padding: 0;
    }
   .aboutTitle h3, .aboutPhilosophy h3 {
    font-size: 20px;
   }
   .aboutImg img {
    height: auto;
    margin:0 0 20px 0;
    }
   .aboutTitle p,.aboutPhilosophyText p {
    font-size: 13px;
    }

   }
