
<div class="wrapper">
  <div class="destination">
    <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
      <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
        <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
          <img src="assets/chikhal.jpg" alt="Torana"></div>
        </div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
          <span>1</span>Chikhaldara</p>
          <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">excellent wildlife</p>
          <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Chikhaldara is the only place in the region that produces coffee making it famous amongst coffee lovers</p>
          <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
            <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
            <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
              <img src="assets/lavasa2.jpg" alt="Dalhousie"></div></div>
              <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>2</span>Lavasa</p>
              <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB"> Picnicking, water sports, relaxing.</p>
              <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Lavasa is a newly developed hill station that is slowly and steadily gaining recognition as one of the popular hill stations.</p>
              <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p>

            </a><a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
              <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                <img src="assets/malvan.jpg" alt="Kasauli"></div></div>
                <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>3</span>Malvan</p>
                <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">famous for it's mouth-watering Malvani sea-food</p>
                <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Malvan is a culturally and historically important town in the Sindhudurg district of Maharashtra.</p>
                <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

<a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
  <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
      <img src="assets/panch.jpg" alt="Shillong"></div></div>
  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>4</span>Panchgani</p>
  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Valley View, Panchgani</p>
  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Panchgani is perched on the edge of the Valley, and overlooks the Krishna River. We cannot lay stress enough on how gorgeous the view from here.</p>
  <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

<a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
  <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
      <img src="assets/pana.jpg" alt="Shillong"></div></div>
  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>5</span>Valley View Grand, Panhala
  </p>
  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">amazing views</p>
  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">The peace and quiet of the surroundings with valley views will put you right at peace.</p>
  <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

  <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
    <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
      <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
        <img src="assets/maha1.jpg" alt="Nandi Hills"></div></div>
        <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>6</span>valley view Mahabaleshwar</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">green look. </p>
        <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN"> Mahabaleshwar overlooks a lush green valley in all its glory! Located at a vantage point on the edge of a cliff, the resort offers you an option of four valley facing tents.</p><p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn">
          <span>Explore</span></p></a>
</div></div>
