.header{
    background-color: skyblue;
    height: 80px;
}
.side{
    background-color:greenyellow;
    height: 250px;
}
.maincontent{
    background-color: yellow;
}
.extracontent{
    background-color: rgb(128, 118, 118);
}
.footer{
    background-color: orangered;
    height: 80px;
}