<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px" class="maindiv">
    <div fxLayout="row" fxLayoutAlign="center center" class="header">
        HEADER
    </div>
    <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="10px" class="main-side">
            <div  fxFlex="20" fxLayout="row" fxLayoutAlign="center center" class="side">
                SIDEBAR
            </div>
            <div fxFlex="80" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px" class="main">
                    <div fxFlex="80" fxLayout="row" fxLayoutAlign="center center" class="maincontent">
                        Main CONTENT
                    </div>
                    <div fxFlex="20" fxLayout="row" fxLayoutAlign="center center" class="extracontent">
                            EXTRA CONTENT
                        </div>  
                        </div>
    </div>
                        <div fxLayout="row" fxLayoutAlign="center center" class="footer">
                                FOOTER
                            </div>
</div>