





<div class="wrapper">
  <div class="destination">
    <a routerLink="/treak"  routerLinkActive="active" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
      <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
        <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
          <img src="assets/treak.jpg" alt="Torana"></div>
        </div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
          <span>1</span>Trekking</p>
          <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">A biggestFort in Maharashtra,Pune</p>
          <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Replace the boredom of your daily routine with an epic adventure. Be it soaring in the sky or diving in the sea, explore the best ideas for a thrilling trip. It's time to feel the adrenaline racing through your veins! .</p>
          <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

          <a routerLink="/valley"  routerLinkActive="active"  target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
            <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
            <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
              <img src="assets/lavasa.jfif" alt="Dalhousie"></div></div>
              <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>2</span>Valley view</p>
              <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">It is stylistically based on the Italian town.</p>
              <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Lavasa is a hill-station famous for its adventure sports and activities, Lavasa Nature Trails and the Temghar Dam. The place is visited by many all year round.</p>
              <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p>
</a>

<a routerLink="/historical"  routerLinkActive="active"  target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
              <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                <img src="assets/shaniwar1.jpg" alt="Kasauli"></div></div>
                <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>3</span>Historical Palaces</p>
                <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Shaniwar wada in pune</p>
                <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Explore this list of heritage destinations and plan a holiday to visit historical monuments in UNESCO-identified heritage sites. Marvel at the stories and legacies of majestic dynasties while you walk through their historic lanes.</p>
                <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

<a routerLink="/honeymoon"  routerLinkActive="active"  target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
  <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
      <img src="assets/hany.jpg" alt="Shillong"></div></div>
  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>4</span>Honeymoon places</p>
  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">khandala in maharashatra.</p>
  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Your honeymoon has to be the most memorable vacation of your life! Choose from a variety of pocket-friendly destinations from solitary beaches, picturesque hills, snow-clad mountains, relaxing yet exotic resorts to adventurous excursions.</p>
  <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

<a routerLink="/weekend"  routerLinkActive="active"  target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
  <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
      <img src="assets/Kamshet1.webp" alt="Shillong"></div></div>
  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>5</span>Weekend Gateway</p>
  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">kamshet in pune.</p>
  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Recharge after a hectic week’s work with an idyllic trip over the weekend. Experience peace at a resort nestled in nature’s lap or feel your heart race with adventure sports. Go ahead, choose the perfect weekend hotspot from this list.</p>
  <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

  <a routerLink="/beach"  routerLinkActive="active"  target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
    <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
      <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
        <img src="assets/Kashid.webp" alt="Nandi Hills"></div></div>
        <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>6</span>Beach Destination</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">kashid beach</p>
        <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Imagine strolling on a pristine beach and relishing incredible seafood without a worry in the world! Does that sound like your dream vacation? Plan a holiday to a beach destination and enjoy adrenalin pumping sports activities with your loved ones.</p><p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn">
          <span>Explore</span></p></a>
          <a routerLink="/romantic"  routerLinkActive="active" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
            <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
              <img src="assets/romantic.jpg" alt="Leh"></div></div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
                <span>7</span>Romantic Places</p>
              <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Romantic Places</p><p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">our list of romantic tourism destinations and plan a passionate getaway with your special someone to mahabaleshar, valleys, lonawala, kashid beaches or adventurous wildlife trails. Escape to a quieter location and in a romantic atmosphere.</p>
              <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

              <a routerLink="/pilgrimage"  routerLinkActive="active" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                  <img src="assets/ganapatipule.jpg" alt="Lansdowne"></div></div>
                  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>8</span>Pilgrimage places</p>
                  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Ganpatipule</p>
<p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Take a break from your busy routine and seek divine blessings at revered pilgrimages for some much needed peace. Whisper a wish or murmur a prayer of gratitude, and let your next trip be a truly memorable one!.</p><p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                  <a routerLink="/hills"  routerLinkActive="active" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/kaspathar.jpg" alt="Mahabaleshwar"></div></div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
                      <span>9</span>Hills</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB"> Kas pathar Maharashtra</p>
                    <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Answer the call of the mountains with MakeMyTrip’s specially curated holiday ideas. Treat the nature lover in you to the serene bliss of lofty hills and explore hidden gems on an epic adventure.</p>
                    <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                    <a routerLink="/spot"  routerLinkActive="active" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                      <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/sport.jpg" alt="Paro"></div></div>
                      <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>10</span>Adventure spots</p>
                      <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">waterfall at Madhe Ghat in pune</p>
                      <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Explore adventurous destinations with exciting deals and challenging activities. Spike up your adrenaline and boost your confidence with thrilling treks, camping, water sports, scuba diving, rafting, bungee jumping, sky diving and many more off-beat activities.</p>
                      <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                      <a routerLink="/food"  routerLinkActive="active" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                        <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                          <img src="assets/Foodi.jpg" alt="Kasol"></div></div>
                          <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>11</span>Foodies Dreams</p>
                          <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">diffrent food test.</p>
                          <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Pamper your taste buds with flavours of different regions. Go on adventures to not just taste but also experience a truly authentic culinary journey. Explore the tiniest of lanes &amp; largest of markets on your next food trail..</p>
                          <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                          <a routerLink="/relax"  routerLinkActive="active" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
                            <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp"><div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/Relax.jpg" alt="Ladakh"></div></div>
                            <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>12</span>Relax Places</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">relaxing of busy shedule.</p><p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Escape the daily routine and humdrum of city life with a relaxing trip to a serene destination. Rejuvenate your body and mind with therapeutic spa treatments, soothing beach walks, flavourful drinks, scrumptious meals and morning meditations.</p>
                            <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a></div>
