<header fxLayoutAlign="space-between center">
    <div>
        <img  routerLink="/" src="/assets/img/logo.png" tabindex="0">
    </div>
    <div fxLayout="row" fxLayoutGap="20px" class="menu">
        <ul class="list-inline">
            <li class="active">
        <a routerLink="/">services</a></li>
        <li class="active"> <a routerLink="/features">features</a></li>
        
            <li class="active"><a routerLink="/successstories">successstories</a></li>
                <li class="active"> <a routerLink="/partners">partners</a></li>
                    <li class="active"><a routerLink="/blog">blog</a></li>
                    <li class="active"><a routerLink="/resources">resources</a></li></ul>
                    
    </div>
</header>
<div>