.a{
    background-color: orange;
    height: 95px;
}
.b{
    background-color: greenyellow;
    height: 95px;
}
.c{
    background-color: rgb(214, 51, 214);
    height: 95px;
}
.d{
    background-color: rgb(238, 224, 255);
    height: 95px;
}
.e{
    background-color: lightsteelblue;
    height: 200px;
}
.maindiv1{
    height: 200px;
}
.maindiv{
    height: 200px;
}