

<div fxLayout="row" fxLayoutAlign="space-between stretch"  class="maindiv1">
   <div fxFlex="70" fxLayout="column" fxLayoutAlign="start stretch"  class="maindiv">
        <div fxFlex="50"  fxLayoutAlign="center center"  class="a">
                A
            </div>
        <div fxFlex="50"  fxLayoutAlign="center center" class="b">
                b
            </div>
   
   
            <div fxFlex="70" fxLayout="row" fxLayoutAlign="start stretch"  class="maindiv">
              
                    <div fxFlex="50"   fxLayoutAlign="center center" class="c">
                            c
                        </div> 
                        <div fxFlex="50"  fxLayoutAlign="center center" class="d">
                                d
                            </div> 
                            </div>
   </div>
                            <div fxFlex="30" fxLayoutAlign="center center" class="e">
                                    e
                                </div>   
                                   
    
        </div>
        