<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px" class="main-div">
    <div fxLayout="row" fxLayoutAlign="center center" class="header">
      HEADER
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="10px" class="content">
      <div fxFlex="70" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px" class="sidebar">
          <div fxFlex="40"  fxLayoutAlign="center center"  class="hero">
        HERO
    </div>
    <div fxFlex="60" fxLayoutAlign="center center"  class="sidebar">
      SIDEBAR
    </div>
    </div>
    <div fxFlex="70" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px" class="info">
        <div fxFlex="60" fxLayoutAlign="center center" class="main-containt">
    MAIN CONTENT</div>
    <div fxFlex="40" fxLayoutAlign="center center" class="extra-containt">
      EXTRA CONTENT
    </div>
    </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="10px" class="img-post">
        <div fxFlex="70" fxLayoutAlign="center center" class="img">
          RELATED IMAGE
          </div>
          <div fxFlex="30" fxLayoutAlign="center center" class="post">
              RELATED POST
              </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="center center" class="footer">
                  FOOTER
    </div>
    
    
    
    
    
    
    
    
    
    </div>