<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<h4>Flex Examples</h4>

<nav>
  <div fxLayoutGap="10px">
  <a routerLink="flex1" >flex1</a>
  <a routerLink="flex2">flex2</a>
  <a routerLink="flex3">flex3</a>
  <a routerLink="flex4">flex4</a>
  <a routerLink="flex5">flex5</a>
  <a routerLink="flex6">flex6</a>
</div>  
</nav>
<router-outlet></router-outlet>


