
<ol class="breadcrumb breadcrumb-arrow font-trirong">
  <li><a href="javascript://" [routerLink]="['/temp']">Template</a></li><br>
  <li><a href="javascript://" [routerLink]="['/reactive']" style="padding-left: 30px;">reactive</a></li>
  <li><a href="javascript://" [routerLink]="['/obpr']" style="padding-left: 30px;">Observable & promises eg</a></li>
  <li><a href="javascript://" [routerLink]="['/obpr1']" style="padding-left: 30px;">Observable & promises eg1</a></li>
</ol>
<router-outlet></router-outlet>
