
<div class="wrapper">
  <div class="destination">
    <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
      <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
        <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
          <img src="assets/mahaba.webp" alt="Torana"></div>
        </div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
          <span>1</span>Mahabaleshwar</p>
          <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Hill Station</p>
          <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">This small hill station surrounded by the Sahyadri mountain range is one of the most popular honeymoon places in Maharashtra. </p>
          <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
            <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
            <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
              <img src="assets/panchgani.webp" alt="Dalhousie"></div></div>
              <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>2</span>Panchgani</p>
              <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB"> Panchgani is the availability of top-class accommodation facilities in this town.</p>
              <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Panchgani is visited by a plethora of tourists seeking peace, romance, nature, and adventure. Enthralling local destinations such as Sydney Point, Table Land, Rajpuri Caves, and Dhom Dam form the major attractions of Panchgani and add to the beauty and charm of the place..</p>
              <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p>

            </a><a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
              <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                <img src="assets/lonawala.webp" alt="Kasauli"></div></div>
                <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>3</span>Lonavala</p>
                <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Lonavala city is one of the most beautiful retreats.</p>
                <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">The Lonavala City is popularly called the “city of caves' ' and the “Jewel of Sahyadri”. That is because the hill station boasts of some of the most spectacular settings that include luxuriant green valleys, remarkable caves, serene lakes and stunning waterfalls.</p>
                <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

<a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
  <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
      <img src="assets/khandal.webp" alt="Shillong"></div></div>
  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>4</span>Khandala</p>
  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">hill station.</p>
  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Coupled with its twin hill station, Lonavala, Khandala is one of the most preferred Maharashtra honeymoon places. Perfect was those quick romantic getaways, Khandala welcomes you with hills.</p>
  <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

<a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
  <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
      <img src="assets/matheran.webp" alt="Shillong"></div></div>
  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>5</span>Matheran</p>
  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">This place is really a perfect destination</p>
  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Matheran is a treat for the photographers also to explore and capture the best of the beauty of the beautiful hill station. The beauty of Western Ghats, Matheran is the smallest hill station of India.</p>
  <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

  <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
    <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
      <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
        <img src="assets/alih.webp" alt="Nandi Hills"></div></div>
        <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>6</span>Alibaug</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB"> The town literally means “The Gardens of Ali”.</p>
        <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">f tall coconut trees and extensive sandy beaches is your idea of ideal Maharashtra honeymoon places, then Alibaug should be your choice. Popular as ‘mini-Goa’ this coastal town.</p><p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn">
          <span>Explore</span></p></a>
          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
            <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
              <img src="assets/kolapur.webp" alt="Leh"></div></div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
                <span>7</span>Kolhapur</p>
              <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Rankala Lake, or even have a pleasant picnic at the Amba Ghat.</p><p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">the best ways to spend your time while in Kolhapur is to take a tour of the various ancient attractions around the place. From the majestic Panhala Fort, to the Chhatrapati Shahu Museum at the New Palace, these attractions help one get a better feel of the city and its history. </p>
              <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

              <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                  <img src="assets/tamini.webp" alt="Lansdowne"></div></div>
                  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>8</span>Tamhini Ghat</p>
                  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">lakes, forests and waterfalls</p>
                  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">A mountain pass connecting Tamhini and Mulshi, Tamhini Ghat is ideal for that quick getaway into nature.</p><p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                  <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/lavasa1.jpg" alt="Mahabaleshwar"></div></div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
                      <span>9</span>Lavasa</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">nature,beauty.</p>
                    <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">India’s first planned hill station, Lavasa has been inspired from Portofino, a popular fishing village in Italy. With top-class hotels, sports arenas and surrounding hills.</p>
                    <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                    <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                      <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/panwel.webp" alt="Paro"></div></div>
                      <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>10</span>Panvel</p>
                      <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">The natural rawness, serene beauty.</p>
                      <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Panvel is located at a close proximity to Mumbai which means there are a lot of places of tourist interest where you can marvel along with your loved ones. In the course of your visit, you must explore Prabalgad Fort.</p>
                      <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                      <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                        <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                          <img src="assets/ratanagiri.jpg" alt="Kasol"></div></div>
                          <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>11</span>Ratnagiri</p>
                          <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Many beaches like the Mandwa Beach </p>
                          <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Ratnagiri City is located on the shores of Arabian Sea. A very big exporter of Alphonso mangoes, this place has been a very important business centre for Maharashtra</p>
                          <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
                            <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp"><div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/wai.jpg" alt="Ladakh"></div></div>
                            <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>12</span>Wai</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">see mountains till </p><p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">The Buddhist caves that cover a large area of Wai is one of the stellar reasons why you should visit this hill station in Maharashtra.</p>
                            <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a></div>


