
<div class="wrapper">
  <div class="destination">
    <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
      <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
        <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
          <img src="assets/mal.jpg" alt="Torana"></div>
        </div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
          <span>1</span>Malshej Ghat</p>
          <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB"> Taramanchi, the soaring peak </p>
          <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Looking down upon the brooklet, Konkan Kada offers the paradisiacal views of the paradise like surroundings and the silhouette of the evening sky can be rightfully termed as the nature </p>
          <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
            <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
            <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
              <img src="assets/panchgani.webp" alt="Dalhousie"></div></div>
              <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>2</span>Panchgani</p>
              <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB"> Panchgani is the availability of top-class accommodation facilities in this town.</p>
              <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Panchgani is visited by a plethora of tourists seeking peace, romance, nature, and adventure. Enthralling local destinations such as Sydney Point, Table Land, Rajpuri Caves, and Dhom Dam form the major attractions of Panchgani and add to the beauty and charm of the place..</p>
              <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p>

            </a><a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
              <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                <img src="assets/kalsubai1.jpg" alt="Kasauli"></div></div>
                <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>3</span>Kalsubai</p>
                <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">huge forests of Kalsubai.</p>
                <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Kalsubai is a mountain range located in Maharashtra and is the highest peak of the state. The summit of the mountain range is about 5400 feet high</p>
                <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

<a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
  <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
      <img src="assets/tam.jpg" alt="Shillong"></div></div>
  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>4</span>Tamhini Ghat</p>
  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">hill station.</p>
  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Tamhini Ghat in Maharashtra is a mountain pass situated between Tamhini and Mulshi. The Tamhini hill station is one of the most popular hill stations in Maharashtra.</p>
  <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

<a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
  <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
      <img src="assets/matheran.webp" alt="Shillong"></div></div>
  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>5</span>Matheran</p>
  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">This place is really a perfect destination</p>
  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Matheran is a treat for the photographers also to explore and capture the best of the beauty of the beautiful hill station. The beauty of Western Ghats, Matheran is the smallest hill station of India.</p>
  <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

  <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
    <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
      <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
        <img src="assets/aajoba.jpg" alt="Nandi Hills"></div></div>
        <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>6</span>Ajoba Hill</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">where Goddess Sita was said to be staying after being separated from Lord Rama.</p>
        <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Ajoba or Ajaparvat is one of the highest peaks in the Sahyadri ranges of the Western Ghats in Maharashtra. Situated near Dehene village, it is one of the popular places of trekking near Mumbai</p><p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn">
          <span>Explore</span></p></a>
          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
            <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
              <img src="assets/amboli.jpg" alt="Leh"></div></div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
                <span>7</span>Amboli</p>
              <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Amboli is an idyllic hill station</p><p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">This hill station forms the southern range of the Sahyadri Hills. The Konkan coast lies on one side of Amboli, whereas valleys are found on the other three sides.</p>
              <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

              <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                  <img src="assets/tamini.webp" alt="Lansdowne"></div></div>
                  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>8</span>Tamhini Ghat</p>
                  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">lakes, forests and waterfalls</p>
                  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">A mountain pass connecting Tamhini and Mulshi, Tamhini Ghat is ideal for that quick getaway into nature.</p><p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                  <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/lavasa1.jpg" alt="Mahabaleshwar"></div></div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
                      <span>9</span>Lavasa</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">nature,beauty.</p>
                    <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">India’s first planned hill station, Lavasa has been inspired from Portofino, a popular fishing village in Italy. With top-class hotels, sports arenas and surrounding hills.</p>
                    <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                    <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                      <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/dur.jpg" alt="Paro"></div></div>
                      <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>10</span>Durshet</p>
                      <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">famous for water sports and hot springs</p>
                      <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">This is an adventure-filled hill region famous for forest lodge, Ashtavinayak temple, Sulphur water springs, Durshet River, farmlands and others.</p>
                      <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                      <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                        <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                          <img src="assets/ratanagiri.jpg" alt="Kasol"></div></div>
                          <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>11</span>Ratnagiri</p>
                          <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Many beaches like the Mandwa Beach </p>
                          <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Ratnagiri City is located on the shores of Arabian Sea. A very big exporter of Alphonso mangoes, this place has been a very important business centre for Maharashtra</p>
                          <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
                            <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp"><div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/ban.jpg" alt="Ladakh"></div></div>
                            <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>12</span>Bandardara</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">see mountains till </p><p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Bandardara is bordered and shielded with mountains and waterfalls in almost all directions. Thus, the climate will be amazing throughout the year.</p>
                            <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a></div>



