
<div class="wrapper">
  <div class="destination">
    <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
      <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
        <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
          <img src="assets/kashid1.jfif" alt="Torana"></div>
        </div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
          <span>1</span>Kashid Beach</p>
          <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">kashid beach in Maharashtra</p>
          <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Kashid Beach is an ideal destination to spend a romantic evening with your partner. Parasailing and banana boat rides is available at this coastline.</p>
          <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
            <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
            <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
              <img src="assets/alibaug.jpg" alt="Dalhousie"></div></div>
              <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>2</span>Alibaug Beach</p>
              <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Most popular in mumbai.</p>
              <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Alibaug Beach is the most beautiful beach that offers a picturesque view of Kolaba fort from the shores and black-sand where you can feel relaxed and rejuvenate.  The stunning view of sunrise and sunset is enjoyed by the visitors.</p>
              <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p>

            </a><a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
              <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                <img src="assets/aareware.jpg" alt="Kasauli"></div></div>
                <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>3</span>Aare Ware Beach</p>
                <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">different beaches that are mostly untouched and provides a stunning view </p>
                <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">The landscape around the beach is out of the world from where you would never like to come back. Walk on the smooth sand and enjoy the sunset view at this pristine destination.</p>
                <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

<a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
  <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
      <img src="assets/dapoli.jpg" alt="Shillong"></div></div>
  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>4</span>Dapoli Beach</p>
  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Snuggled in the Konkan coastline</p>
  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN"> Dapoli is a clean beach where dolphins are also seen. Local seafood and snacks are available nearby. One can sunbath and swim in the crystal clear water. Enjoy different water sports and play volleyball at the beach to have the best time at this place.</p>
  <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

<a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
  <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
      <img src="assets/diveaagar.jfif" alt="Shillong"></div></div>
  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>5</span>Diveagar Beach</p>
  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">less crowded</p>
  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Divegar Beach is an offbeat place where you can feel utmost peace. The pristine nature near beach offers picturesque view where shutterbugs have the best snapsot.</p>
  <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

  <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
    <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
      <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
        <img src="assets/ganapatibeach.jfif" alt="Nandi Hills"></div></div>
        <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>6</span>Ganpatipule Beach</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">One of the most spectacular and clean seashore</p>
        <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Ganpatipule Beach Enjoy a tranquil walk on white clear sand, have some snacks and enjoy in the water. You can also enjoy horse riding, camel riding, and paragliding on the beach.</p><p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn">
          <span>Explore</span></p></a>
          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
            <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
              <img src="assets/guhagar.jpg" alt="Leh"></div></div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
                <span>7</span>Guhagar Beach</p>
              <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB"> one of the most prominent tourist attractions</p><p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Guhagar Beach Dotted with plantation of suru trees and coconut trees nearby Guhagar beach, it offers perfect background for shutterbugs to take stunning pictures. </p>
              <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

              <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                  <img src="assets/harihareshwar.jpg" alt="Lansdowne"></div></div>
                  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>8</span>Harihareshwar Beach</p>
                  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">The hills of Harihareshwar, Pushpadri and Brahadri</p>
                  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">This beach is the perfect gateway for coastline lovers where you can walk or sit in the serene environment and enjoy the scenic view of the beach. If you are seeking for beaches near Pune with water sports, then this is the right place for you.</p><p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>
                  <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/harnai.jpg" alt="Mahabaleshwar"></div></div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
                      <span>9</span>Harnai Beach</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Harnai Beach is a perfect escape for chaotic life of the city</p>
                    <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">The nature’s untouched beauty can be felt at this placid destination. Walk alongside the coastline with your partner and enjoy the best time in beaches near Pune.</p>
                    <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                    <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                      <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/juhu.jpg" alt="Paro"></div></div>
                      <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>10</span>Juhu Beach
                      </p>
                      <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">One of the most popular and longest beaches in Mumbai is Juhu Beach</p>
                      <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">A landmark for top bollywood stars and television shoot, Juhu Beach enjoys is the perfect place to enjoy vacations. Dotted with few street food vendors on the riverside, it is a place to feel sense of calm.</p>
                      <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                      <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                        <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                          <img src="assets/mandawa.jpg" alt="Kasol"></div></div>
                          <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>11</span>Mandwa Beach</p>
                          <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">One of the mesmeric beach</p>
                          <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Mandwa Beach where different water sports can be tried. Nature lovers will absolutely like this tranquil place that is less crowded and climate is mostly comfortable.</p>
                          <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
                            <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp"><div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/murud.jpg" alt="Ladakh"></div></div>
                            <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>12</span>Murud Beach</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">The white glittering sand shores and the extreme tranquil atmosphere </p><p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Murund Beach make it the best place to enjoy weekend. Get a break from the daily hustles of the life and visit Murud Beach where you can also do trek to Murud-Janjira Fort.    </p>
                            <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a></div>
