
<div class="wrapper">
  <div class="destination">
    <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
      <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
        <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
          <img src="assets/shirdi.jpg" alt="Torana"></div>
        </div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
          <span>1</span>Shirdi</p>
          <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Shirdi is a small town</p>
          <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">This is one of the holiest places in India and also one of the popular pilgrimage places you must include in Maharashtra packages. Shirdi, also known as the Land of Sai, is famous for the shrine of Shirdi Sai Baba</p>
          <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
            <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
            <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
              <img src="assets/ganapati.jpg" alt="Dalhousie"></div></div>
              <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>2</span>Ganapatipule</p>
              <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">small pilgrimage & beach town</p>
              <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Ganpatipule is mainly known for its 400 years old Ganapati Temple which is the prime attraction in Ganpatipule. The idol of Ganesha is believed to be a monolith that was self-incarnated</p>
              <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p>

            </a><a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
              <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                <img src="assets/kolapur1.jpg" alt="Kasauli"></div></div>
                <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>3</span>Kolhapur</p>
                <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Kolhapur is known worldwide for its Kolhapuri chappals, Kolhapuri jewellery.</p>
                <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Mahalakshmi Temple. Bhavani Mandap, New Palace Museum, Jyotiba Temple, Rankala Lake, Kopeshwar Temple, Panhala Fort, Siddhagiri Gramjivan Museum, and Radhanagari Wildlife Sanctuary are among the most prominent places to visit in Kolhapur.</p>
                <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

<a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
  <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
      <img src="assets/hari.jpg" alt="Shillong"></div></div>
  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>4</span>Harihareshwar</p>
  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Harihareshwar temple dedicated to Lord Shiva.</p>
  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Harihareshwar is a treat for people looking for spiritual relief or a beach holiday. Harihareshwar alone has two beaches − one, a straight beach about 2.5 km long in front of Harihareshwar Temple</p>
  <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

<a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
  <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
      <img src="assets/shani2.jpg" alt="Shillong"></div></div>
  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>5</span>Shanishinnapur</p>
  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Shani Shingnapur Temple has no doors to the houses</p>
  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">The idol of Lord Shanidev at the Shingnapur temple is swayambhu and the temple is believed to be a jagrut devasthan, meaning that a deity still resides in the temple.</p>
  <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

  <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
    <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
      <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
        <img src="assets/tra.jpg" alt="Nandi Hills"></div></div>
        <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>6</span>Trimbakeshwar Temple</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB"> Temple is built by Sri Nana Saheb Peshwa in 1755-1786 AD.</p>
        <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">The temple is built of black stone in the Nagara style of architecture and is enclosed in a spacious courtyard. The sanctum internally a square and externally a stellar structure houses a small Shivlingam - Tryambaka.</p><p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn">
          <span>Explore</span></p></a>
          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
            <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
              <img src="assets/bhima.jpg" alt="Leh"></div></div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
                <span>7</span>Bhimashankar Temple</p>
              <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">the source of the river Bhima</p><p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Bhimashankar Temple is dedicated to Lord Shiva and is considered as one of the 12 holy Jyotirlinga shrines in India, and five in Maharashtra. </p>
              <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

              <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                  <img src="assets/kum.jpg" alt="Lansdowne"></div></div>
                  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>8</span>Kumbhoj Bahubali</p>
                  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Kumbhoj Bahubali</p>
                  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Kumbhoj Bahubali is home to Shri Bahubali Bramhcharya & Vidyapeeth. Dedicated to Lord Bahubali, it is an Atishaya Kshetra i.e. place of miracles.</p><p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                  <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/jejuri.jpg" alt="Mahabaleshwar"></div></div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
                      <span>9</span>Jejuri</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB"> Khandoba Temple</p>
                    <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Jejuri Khandoba Temple is dedicated to Khandoba, who is also known as Mhalsakant or Malhari Martand in the region. Khandoba is the important god worshipped by Dhangar, the oldest tribes in Maharashtra.</p>
                    <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                    <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                      <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/bhule.jpg" alt="Paro"></div></div>
                      <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>10</span>Bhuleshwar </p>
                      <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">The temple is unique because of its architecture</p>
                      <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">The temple is dedicated to Lord Shiva and was built in 13th century during Yadava Rulers. It is believed that the temple was ruined by Muslim invaders and reconstructed later because the entrance of the temple is hidden like Gaimukhi Buruj.</p>
                      <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                      <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                        <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                          <img src="assets/ranjan.jpg" alt="Kasol"></div></div>
                          <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>11</span>Ranjangaon</p>
                          <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Mahaganapati </p>
                          <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">The stone pillars of the temple indicate that the temple was built during the 9th or 10th century during the rule of Peshwas</p>
                          <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
                            <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp"><div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/mayur.jpg" alt="Ladakh"></div></div>
                            <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>12</span>Moreshwar temple</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Mayureshwar Temple, is a Hindu temple located at Moregaon in pune </p><p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">he presiding deity of this temple is Lord Mayureshwar (Lord Ganesha) also called as Lord Moreshwar, made of alloy of five metals, with his trunk towards left. </p>
                            <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a></div>


