
<div class="wrapper">
  <div class="destination">
    <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
      <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
        <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
          <img src="assets/para.jpg" alt="Torana"></div>
        </div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
          <span>1</span>Paragliding</p>
          <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Talegaon Dabhad, Virar, Brahmanwadi, Saputara and Nashik,Kamshet</p>
          <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Paragliding is an exhilarating sport for hardcore adventure junkies who have a will to fly. One among the most nerve-wrecking adventure sports, it is meant for the brave and the daunting. </p>
          <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
            <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
            <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
              <img src="assets/scuba.jpg" alt="Dalhousie"></div></div>
              <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>2</span>Scuba Diving</p>
              <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Places like Tsunami Island in Malvan, Tarkarli, Vengurla, Konkan coast and Dandeshwar</p>
              <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Maharashtra is a paradise for scuba divers that offers a golden chance to enjoy a very enthralling water sport. One of the most exotic adventure sports, scuba diving tops the things to do.</p>
              <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p>

            </a><a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
              <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                <img src="assets/river.jpg" alt="Kasauli"></div></div>
                <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>3</span>River Rafting</p>
                <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Kundalika, Karjat</p>
                <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">A paradise for river rafters, Maharashtra serves as a treat to countless adventure freaks who journey to this state to quench their thirst for adventure.</p>
                <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

<a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
  <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
      <img src="assets/tre.jpg" alt="Shillong"></div></div>
  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>4</span>Trekking</p>
  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Many Fort are availabale to trekking.</p>
  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Maharashtra has numerous trekking places which remain swarmed by ardent roamers, most part of the year.</p>
  <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

<a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
  <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
      <img src="assets/rappel.jpg" alt="Shillong"></div></div>
  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>5</span>Rappelling</p>
  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Kundalika River, Bhivpuri, Kondane Caves, Panshet and Diksal</p>
  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Maharashtra beckons adventure junkies from places far and wide, to indulge in this exhilarating outdoor sport. Konkan Kada cliff at Harishchandragad, Dukes Nose Lonavala, Sandhan Valley near Ratangad.</p>
  <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

  <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
    <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
      <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
        <img src="assets/cyc.jpg" alt="Nandi Hills"></div></div>
        <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>6</span>Cycling</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">cycle will any day be ideal for journeying past enchanting natural wilderness of the state.</p>
        <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN"> A cycling tour across its captivating pavilions is one of the most fascinating things to do in Maharashtra.</p><p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn">
          <span>Explore</span></p></a>
          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
            <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
              <img src="assets/hot.jpg" alt="Leh"></div></div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
                <span>7</span>Hot Air Ballooning</p>
              <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">lonawala</p><p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Hot Air Ballooning can be greatly enjoyed in the popular hill station of Lonavala, which is also known for a summer and weekend getaway from both Mumbai and Pune </p>
              <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

              <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                  <img src="assets/camp.jpg" alt="Lansdowne"></div></div>
                  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>8</span>Camping</p>
                  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">khopoli,mulshi dam</p>
                  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">you get to experience digital detox here. Well, almost most of the time, you will have no mobile connectivity, which will enable you to introspect and help you reconnect yourself amidst nature.</p><p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                  <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/sky.jpg" alt="Mahabaleshwar"></div></div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
                      <span>9</span>Skydiving</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Mumbai</p>
                    <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Enjoy a great adrenaline rush as you try your hands on this super adventurous activity i.e. Skydiving in Mumbai.</p>
                    <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                    <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                      <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/jeep.webp" alt="Paro"></div></div>
                      <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>10</span>Jeep Safari</p>
                      <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Mahabaleshwar and Panchgani</p>
                      <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">this open jeep safari tour will help in exploring the untouched parts of these towns that will surely be an amazing experience for you!</p>
                      <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                      <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                        <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                          <img src="assets/zip.webp" alt="Kasol"></div></div>
                          <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>11</span> Zip-line Adventure</p>
                          <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Enjoy the Zip-line Adventure Near Mumbai on the banks of Kundalika River. </p>
                          <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">The beautiful monsoon air relax and rejuvenate you as you fly across the scenery attached to a harness that will make you say.</p>
                          <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
                            <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp"><div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/bu.jpg" alt="Ladakh"></div></div>
                            <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>12</span>Bungee Jumping</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">kolad </p><p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">
                              Kolad, famous for unbounded scenic beauty and lush greenery along with waterfalls and green meadows, offers an adventurous destination for nature lovers. </p>
                            <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a></div>


