.slider-container{
  top: 62px;
  height: 66vh;
  width: 100%;
  position: relative;


}
.image-container{
  height: 100%;
  width: 100%;
}
.image-container img{
  width: 100%;
  height: 380px;
}
.mk-grid p{
  text-align: center;
}
.image-container .text{
  position: absolute;
  z-index: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 30%;
  text-align: center;
  width: 30%;
  font-size: 80px;
  color: rgb(248, 244, 244);
}
//------------main---------------
.nav-tabs>li.active>a, .nav-tabs>li a:hover, .nav-tabs>li.active>a:focus {
  color: #fff;
  cursor: default;
  background-color: #ed2429;
  border: 1px solid #ed2429;
  border-bottom-color: transparent;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 1px solid #e6e6e6;
  border-bottom-color: transparent;
  border-top: 3px solid #f56b6b;
}
.nav-tabs {
  text-align: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 100%;
  border-bottom: 0;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav > li > a {
  padding: 15px;
}
.nav-tabs li a {
  color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 16px;
  width: 120px;
}
.nav-tabs > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  margin: 10px;
  border-radius: 50%;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.mb-2 {
  margin-bottom: 15px;
}


//----------form------
.dir-field i {
  position: absolute;
  padding-top: 20px;
  pointer-events: none;
  color: #939393;
  font-size: 18px;
  right: 0px;
  z-index: 99;
}
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input {

  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}
button {
  appearance: auto;

  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.input-group .form-control {
  border: none;
  border-radius: 0 !important;
  height: 45px;
  box-shadow: 0 0 6px 0px #080808;
  margin: 10px;
}
.sbutn {
  background: #ed2429;
  border: none;
  padding: 10px 20px!important;
  font-size: 17px;
  color: #fff;
  border-radius: 0px;
  font-weight: bold;
  box-shadow: 0 0 6px 0px #080808;
  height: 45px;
  margin: 5px;
}
.sbutn:hover{
  background: blue;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;

  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
@media (max-width:750px) {
.input-group {
  border-right: 1px solid #ccc;
  width: 100%;
}

}

.text-center{
  text-align: center;
  margin-right: 600px;
}
