<div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="10px" class="maindiv1">
    <div fxFlex="30" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px"  class="1">
         <div fxFlex="100"  fxLayoutAlign="center center"  class="a">
                 A
             </div>
             <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="10px" class="2">
                 <div fxFlex="50" fxLayoutAlign="center center" class="b">
                     B
                 </div>
                 
                        <div fxFlex="30" fxLayout="column" fxLayoutAlign="start stretch"fxLayoutGap="10px"  class="3">
                    <div fxFlex="30" fxLayout="row" fxLayoutAlign="center center" class="c">
                        C
                    </div>
                    <div fxFlex="70" fxLayout="row" fxLayoutAlign="center center" class="d">
                            D
                        </div>
                        </div>
             </div>
             <div fxFlex="30" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px" class="4">
                    <div fxFlex="90"  fxLayoutAlign="center center"  class="e">
                            E
                        </div>
                        </div>
             </div>
             <div fxFlex="40" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px" class="21">
             <div fxFlex="60"fxLayout="row" fxLayoutAlign="start stretch"fxLayoutGap="10px"  class="5">
                    <div fxFlex="50"   fxLayoutAlign="center center" class="f">
                        F
                    </div>
                    
                           <div fxFlex="70" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px" class="6">
                       <div fxFlex="30" fxLayout="row" fxLayoutAlign="center center" class="g">
                           G
                       </div>
                       <div fxFlex="70" fxLayout="row" fxLayoutAlign="center center" class="h">
                               H
                           </div>
                           </div>
                           </div>
                           <div fxFlex="30" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px"  class="10">
                            <div fxFlex="90"  fxLayoutAlign="center center"  class="i">
                                    I
                                </div>  
             </div>
             </div>
             <div fxFlex="30" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px"  class="8">
                <div fxFlex="20"  fxLayoutAlign="center center"  class="j">
                        J
                    </div> 
                    <div fxFlex="30" fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="10px"  class="9">
                        <div fxFlex="20"fxLayout="column"  fxLayoutAlign="center center"  class="k">
                                k
                            </div> 
                            <div fxFlex="80"fxLayout="column"  fxLayoutAlign="center center"  class="l">
                                L
                            </div> 
                            </div>
                            
                            <div fxFlex="90" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px"  class="10">
                                <div fxFlex="50"  fxLayoutAlign="center center"  class="m">
                                        m
                                    </div>
                                    <div fxFlex="30"  fxLayoutAlign="center center"  class="n">
                                        n
                                    </div>
                                    </div>
</div>
                            

                        
                  
             </div>