.a{
    background-color: purple;
    height: 400px;
}
.b{
    background-color: greenyellow;
    height:50px ;
}
.c{
    background-color: skyblue;
    height: 20px;
    width: 190px;
}
.d{
    background-color: red;
    height: 80px;
    width: 190px;
}
.e{
    background-color: palevioletred;
    height: 200px;
}
.f{
    background-color: pink;
    height: 90px;
}
.g{
    background-color: yellow;
    height: 20px;
    
}
.h{
    background-color: orange;
    height: 50px;
    
}
.i{
    background-color: blue;
    height: 30px;
}
.j{
background-color: red;
    height: 30px;
}
.k{
    background-color:rgb(9, 255, 0);
    height: 30px;
}
.l{
    background-color:skyblue;
    height: 30px;

}
.m{
    background-color:red;
    height: 300px;

}
.n{
    background-color: blue;
    height: 20px;

}