<div class="main">
  <div class="slider-container">
      <div class="image-container" id="imgs">
          <img src="assets/car.jpg" alt="first"class="slide active"/>
          <div class="text"> <h1>Cab</h1>  </div>
      </div></div>

<div class="vedios">
  <div class="gallery">
<video width="400" controls>
  <source src="assets/maha.mp4" type="video/mp4" >
  <source src="assets/maha.ogg" type="video/ogg">

</video>
<div class="info">
<p>Mahabaleshwar</p>
</div></div>
<div class="gallery">
  <video width="400" controls>
    <source src="assets/lonawala.mp4" type="video/mp4">
    <source src="assets/lonawala.ogg" type="video/ogg">

  </video>
  <div class="info">
  <p>Lonawala</p>
  </div></div>

  <div class="gallery">
    <video width="400" controls>
      <source src="assets/lawasa1.mp4" type="video/mp4">
      <source src="assets/lawasa1.ogg" type="video/ogg">

    </video>
    <div class="info">
    <p>Lawasa</p>
    </div></div>

    <div class="gallery">
      <video width="400" controls>
        <source src="assets/shaniwarwada.mp4" type="video/mp4">
        <source src="assets/shaniwarwada.ogg" type="video/ogg">

      </video>
      <div class="info">
      <p>Shaniwarwada</p>
      </div></div>

      <div class="gallery">
        <video width="400" controls>
          <source src="assets/kashid.mp4" type="video/mp4">
          <source src="assets/kashid.ogg" type="video/ogg">

        </video>
        <div class="info">
        <p>Kashid Beach</p>
        </div></div>
        <div class="gallery">
          <video width="400" controls>
            <source src="assets/matheran.mp4" type="video/mp4">
            <source src="assets/matheran.ogg" type="video/ogg">

          </video>
          <div class="info">
          <p>Matheran</p>
          </div></div>

          <div class="gallery">
            <video width="400" controls>
              <source src="assets/kas.mp4" type="video/mp4">
              <source src="assets/kas.ogg" type="video/ogg">

            </video>
            <div class="info">
            <p>Kas Pathar</p>
            </div></div>

            <div class="gallery">
              <video width="400" controls>
                <source src="assets/tamini.mp4" type="video/mp4">
                <source src="assets/tamini.ogg" type="video/ogg">

              </video>
              <div class="info">
              <p>Tamhini ghat</p>
              </div></div>
              <div class="gallery">
                <video width="400" controls>
                  <source src="assets/bhima.mp4" type="video/mp4">
                  <source src="assets/bhima.ogg" type="video/ogg">

                </video>
                <div class="info">
                <p>Matheran</p>
                </div></div>
</div>

</div>
<div class="clearfix"></div>
