.header{
    background-color: skyblue;
    height: 80px;
}
.left{
    background-color: red;
    height: 250px;
}
.right{
    background-color: yellow;
    height: 250px;
}
.main{
    background-color: green;
    height: 250px;
}

.footer{
    background-color: indigo;
    height: 80px;
}