<div fxLayout="column" fxLayoutAlign="start stretch"  class="main-div">
        <div fxLayout="row" fxLayoutAlign="center center" class="header">
          HEADER
        </div>
        <div fxLayout="row" fxLayoutAlign="start stretch"  class="content">
                <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center"  class="left">
                    left sidebar
                    </div>
                    <div fxFlex="60"  fxLayoutAlign="center center"  class="main">
                  main
              </div>
              <div fxFlex="20" fxLayoutAlign="center center" class="right">
                  right sidebar
              </div>
        </div>
              <div fxLayout="row" fxLayoutAlign="center center" class="footer">
                    footer
                  </div> 
</div> 