
<div class="wrapper">
  <div class="destination">
    <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
      <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
        <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
          <img src="assets/shani1.jpg" alt="Torana"></div>
        </div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
          <span>1</span>Shaniwar Wada</p>
          <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">peshwa place.</p>
          <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">The foundation stone of the Shaniwar Wada was laid in 1730 by Peshwa Bajirao I. Initially, it was intended to be a colossal palace of seven stories made out of stone.</p>
          <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
            <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
            <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
              <img src="assets/agakhan.webp" alt="Dalhousie"></div></div>
              <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>2</span>Aga Khan Palace</p>
              <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">One of the most stunning pieces of architecture in all of Pune</p>
              <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Aga Khan Palace is considered to be one of the most important landmarks in India, and not only Pune. Built-in 1892 by Sultan Muhammad Shah Aga Khan</p>
              <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p>

            </a><a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
              <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                <img src="assets/lalmahal.webp" alt="Kasauli"></div></div>
                <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>3</span>Lal Mahal</p>
                <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Lal signifies ‘Red’ whereas mahal</p>
                <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Located close to Shaniwar Wada, Lal Mahal is Pune’s historical landmark. Dating its existence back to the 16th century, Lal Mahal acknowledges the valor of leaders and rulers of Shivaji’s era.</p>
                <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

<a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
  <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
      <img src="assets/pravati.webp" alt="Shillong"></div></div>
  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>4</span>Parvati Hill</p>
  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB"> Lord Ganesha, Goddess Parvati, Lord Vishnu, Lord Karthikeya as well as Devateshwar.</p>
  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Parvati Hill is not only the highest point of Pune at 2,100 ft. but is also culturally and historically important place</p>
  <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

<a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
  <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
      <img src="assets/shivaneri.jpg" alt="Shillong"></div></div>
  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>5</span>Shivneri Trek</p>
  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">This place is really a perfect destination</p>
  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Shivneri is a popular destination for trekking in Pune. Yet another Fort backed by the magnificent history created by Shivaji Maharaj, this is an ideal getaway near Pune for picnic. A celebration spot for the annual Shivaji Maharaj Jayanti, Fort Shivneri is one of the difficult ones to trek.</p>
  <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

  <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
    <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
      <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
        <img src="assets/patal.jpg" alt="Nandi Hills"></div></div>
        <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>6</span>Pataleshwar Cave Temple</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Pataleshwar a fascinating point for adventurers to scour.</p>
        <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">The temple is found in the epicenter of the city of Pune in Maharashtra. Carved out of a single rock, it is dedicated to the God of the underworld - Lord Pataleshwar</p><p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn">
          <span>Explore</span></p></a>
          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
            <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
              <img src="assets/ganesh.jpg" alt="Leh"></div></div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
                <span>7</span>Dagdusheth Halwai Ganapati Temple</p>
              <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">Lord Ganesha</p><p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">City’s most revered Ganpati Temple, built around 120 years back, is a must-visit while in Pune. </p>
              <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

              <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                  <img src="assets/chatur.webp" alt="Lansdowne"></div></div>
                  <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>8</span>Chatushrungi Mata Temple</p>
                  <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB"> Lord Ganesha.</p>
                  <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">This temple, famous for its location on a mountain slope, is one of the most revered Hindu temples in Pune.</p><p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                  <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                    <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/natinal.jpg" alt="Mahabaleshwar"></div></div><p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW">
                      <span>9</span>National War Museum</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">different kinds of guns and rocket launchers.</p>
                    <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">As one of the best historical places in Pune, National War Museum is sure to fill you with patriotism and pride. This one of a kind museum is self-funded by the city’s citizens to honor the war heroes.</p>
                    <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                    <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                      <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/tribal.webp" alt="Paro"></div></div>
                      <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>10</span>Tribal Museum</p>
                      <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">You will see their jewelry, photographs, weapons, hunting tools, and musical instruments.</p>
                      <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Tribal communities have always been fascinating, and this museum is a great place to get to know these elusive people, which otherwise is not possible. </p>
                      <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                      <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc"><div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp">
                        <div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY">
                          <img src="assets/phule.webp" alt="Kasol"></div></div>
                          <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>11</span>Mahatma Phule Museum</p>
                          <p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB">It houses life-like models of prehistoric elephants, snakes, birds, and insects.
                          </p>
                          <p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">sections contain exhibits, paintings, and models related to irrigation, handicrafts, science, power generation, refining, etc. The museum has a library of rare books on these subjects. Not many people know that the museum has been publishing a science journal ‘Srushti Dnyan’.</p>
                          <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a>

                          <a href="#" target="_self" class="DestinationCard__Card-sc-1czmno9-0 gjMtnc">
                            <div class="ImageSlider__ImgCont-sc-1qdl6fj-0 hyLvbp"><div class="ImageSlider__CardImg-sc-1qdl6fj-1 fBVWBY"><img src="assets/pratapgad.jfif" alt="Ladakh"></div></div>
                            <p class="DestinationCard__CardTitle-sc-1czmno9-1 gMbbQW"><span>12</span>Pratapgad Fort Trek</p><p class="DestinationCard__SubTitle-sc-1czmno9-2 blmrSB"> Pratapgad Fort</p><p class="DestinationCard__Desc-sc-1czmno9-3 knmWQN">Pratapgad remained an important strategic fort for the Maratha Empire. In the years following the battle, small temples were built inside the military stronghold.</p>
                            <p class="DestinationCard__Explore-sc-1czmno9-5 dsAebn"><span>Explore</span></p></a></div>


